/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply flex justify-center text-5xl font-semibold;
  }

  p {
    @apply text-base p-2;
  }

  button {
    @apply rounded-lg border w-20 m-2 transition hover:opacity-70 shadow-md;
  }

  input {
    @apply outline-none text-slate-500 p-1 m-1 border border-slate-300 rounded;
  }

  input[type="text"],
  input[type="password"] {
    @apply placeholder:italic
  }

  label {
    @apply text-white px-4 text-sm;
  }

  .h1-welcome {
    @apply m-5 py-2 underline decoration-rose-500;
  }

  .div-welcome {
    @apply relative flex place-self-center flex-col border-2 w-96 bg-indigo-600 rounded-lg shadow shadow-rose-400 mt-10
  }

  .about-info {
    @apply text-cyan-100 p-2 min-h-fit;
  }

  .login-welcome {
    @apply min-h-fit;
  }

  .btn-confirm {
    @apply bg-cyan-500 text-white border-cyan-300 shadow-rose-400;
  }

  .btn-cancel {
    @apply bg-rose-400 shadow-cyan-300;
  }


}